@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

// Typography

$font-main: Figtree, sans-serif;

// Colors

$color-background: #fff;
$color-text-primary: #0b0721;
$color-text-secondary: #625f7a;
$color-reverse: #fff;
$color-accent: #6c31e3;
$color-accent-dark: #3b00b9;

// Box properties

$border-radius: 4px;
$box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
