@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;900&display=swap');

$color-background: #f2f2f2;
$color-text-primary: #1b1b1b;
$color-text-secondary: #545454;
$color-border: #ececec;
$color-accent: #00ddc2;
$color-accent-dark: #00beba;

$font-main: Catamaran, sans-serif;

$border-radius: 4px;
